main {
  text-align: center;
}
.clickhide {
  display: none;
}
main #about > h2{
  transform: rotate(90deg);
  position: absolute;
  top: 40%;
}
#about .inner {
  display: flex; justify-content: space-between;
}
#about .main_tit {
  margin-top: 30vh; margin-right: 20px; flex-basis: 50%; font-size: 2.4rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
#about .main_tit .skills_icon {
  position: relative; top: 5px; width: 36px;
}
#about .main_tit p{
  line-height: 3rem;
  font-size: 1.2rem;
  margin-bottom: 40px;
}
#about .main_tit .skillimg{

  width: 200px;
}
#about .main_tit .skillimg li{
  
  display: inline-block;
}
#about .main_tit .skillimg img{
  width: 40px;
  height: 40px;
}
#about .skils_list {
  margin-top: 100px; flex-basis: 60%;
}
#about .skils_list .skils_item {
  margin-bottom: 40px; padding-left: 30px; position: relative;
}
#about .skils_list .skils_item p {
  line-height: 3rem; font-size: 1rem;
}
#about .skils_list .skils_item span {
  padding-bottom: 16px; font-size: 1.5rem;
} 
#about .skils_list .skils_item span::before {
  padding-right: 8px; position: absolute; left: 0; font-weight: 600;
}
#about.skils_list .skils_item span strong {
  font-weight: 700;
}
main #portfolio .wrap{
  
}
main #portfolio {
  padding: 80px 0;
  position: relative;
  height: 100%;
  background-color: #f0eccc;
}
main #portfolio > h2 {
  transform: rotate(90deg);
  position: absolute;
  top: 40%;
}
main #portfolio .pfwrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}
main #portfolio .pf {
  width: 350px;
  padding: 20px 30px;
  position: relative;
}
main #portfolio .pf:hover div.hop{
  display: block;
  
}
main #portfolio .pf h3 {
  position: absolute;
  opacity: 0;
  top: 999px;
}
main #portfolio .pf img {
  width: 100%;
  box-shadow: 5px 5px 5px 5px #8080801a;
} 
main #portfolio .hop {
   display: none;
  position: absolute;
  height: 88%;
  top: 20px;
  width: 83%; 
  background-color: #000000ad; 
  /*! padding: 20px 30px; */
  box-sizing: border-box;
}
main #portfolio .hop a{
  width: 100%;
  height: 100%;
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
main #portfolio .hop h1 {
  font-size: 22px;
  line-height: 4;
}
main #portfolio .hop p {
  font-weight: bold;
}
main #portfolio .hop p span {
  font-weight: normal;
  padding-left: 5px;
}
main #portfolio .hop p.go {
  line-height: 4;
  font-size: 14px;
}
#portfolio2 {

  padding: 80px 0;
}
#portfolio2 .wrap{
  
}
#portfolio2>h2{
  transform: rotate(90deg);
  position: absolute;
  top: 40%;
}
#portfolio2 .javascript{
}
#portfolio2 .javascript ul{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 100px;
}
#portfolio2 .javascript li {
  margin-bottom: 100px;
  display: flex;
  width: 1100px;
  justify-content: space-evenly;
  align-items: center;
}
#portfolio2 .javascript li img{
  
}
#portfolio2 .javascript li .imgbox{
  width: 500px;
}
#portfolio2 .javascript li .info{

  text-align: left;
  width: 500px;
}
#portfolio2 .javascript li h2{

  font-size: 24px;
  margin-bottom: 40px;
}
#portfolio2 .javascript li  p{
margin-bottom: 20px;
line-height: 1.2;
}
#portfolio2 .javascript li  a{

  display: block;
  width: 120px;
  text-align: center;
  padding: 10px 0;
  background-color: #583704;
  color: whitesmoke;
  border-radius: 8px;
}
#portfolio .mobilepfwrap{
  display: none;
} 
main #thankyou {
  position: relative;
  height: 100%;
  padding-top: 80px; 
  width: 100%;
  background-color: #f0eccc;
}
main #thankyou > h2 {
  transform: rotate(90deg);
  position: absolute;
  top: 40%;
}
main #thankyou .thanks {
  width: 100%; 
  padding: 80px;
  position: relative;
  height: 900px;
}
main #thankyou .thanks .ment {
  float: left;
  display: block;
  text-align: left;
}
main #thankyou .thanks .ment h2 {
  font-size: 44px;
  font-weight: bold;
  line-height: 2;
}
main #thankyou .thanks .ment p {
  font-size: 30px;
  font-weight: normal;
}
main #thankyou .thanks .info {
  position: absolute;
  right: 0;
  bottom: 300px;
}
main #thankyou .thanks .info span.adress {
  font-size: 24px;
  font-weight: bold;
  padding-right: 15px;
  line-height: 1.5; 
}
main #thankyou .thanks .info span.detail {
}
.wrap {
}
main span>i{
  
  font-size: 13px;
  padding-right: 10px;
  color: #f2d32b;
}